
  .box1{
    width: 30%;
    border: solid black;
    border-width: 2px;
    background-color: rgb(224, 217, 205);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
body {
  background-color: rgb(205, 215, 193);
}

 .q1 {
  display: block;
 }
 .q2 {
  display: none;
 }
.q3 {
  display: none;
}
.end {
  display: none;
}







